@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* Headers */
h1  {
  @apply m-0 py-1 lg:py-2 font-mono font-medium text-slate-800 tracking-tight text-3xl lg:text-4xl !important; /*  */
}

h2 {
  @apply m-0 py-1 lg:py-2 font-mono font-medium text-slate-800 tracking-tight text-2xl lg:text-3xl !important; /*  */

  span {
    @apply text-slate-600;
  }
  a {
    @apply text-blue-600 underline-offset-2;
  }
  a:hover{
    @apply text-blue-800;
  }
}

h3 {
  @apply m-0 py-1 lg:py-2 font-mono font-medium tracking-tight text-xl lg:text-2xl !important; /*  */

}
 
h4 {
    @apply m-0 py-1 lg:py-2 font-mono text-lg lg:text-xl !important; /*  */
}


/* Buttons */
.buton {
  @apply font-mono font-medium text-center px-3 py-2 no-underline rounded-full;

  &.outlined {
    @apply text-blue-600 border border-blue-600;
  }
  &.outlined:hover {
    @apply text-blue-600 bg-blue-50;
  }

  &.outlined-inverse {
    @apply text-amber-50 border border-white;
  }

  &.outlined-inverse:hover {
    @apply text-amber-50 border border-white;
  }

  &.outlined-danger {
    @apply text-red-600 border border-red-600;
  }
  &.outlined-danger:hover {
    @apply bg-red-50;
  }

  &.pri {
    @apply text-white bg-blue-600;
  }
  &.pri:hover {
    @apply bg-blue-700;
  }

  &.pri-inverse {
    @apply text-blue-600 bg-white;
  }
  &.pri-inverse:hover {
    @apply text-blue-600 bg-blue-100;
  }

  &.pri-inverse-disabled {
    @apply text-white bg-blue-400 sm:bg-blue-200;
  }

  &.wFull {
    @apply w-full
  }
}

/* Inner page structure */
.innerPage {
  @apply my-16 max-lg:px-4 space-y-6;
}

/* Header */
header {
  nav {
    
  }
}

.navLink {
  @apply font-mono font-medium px-3 py-2 no-underline rounded-full;

  &.link {
    @apply text-amber-50;

    &.active {
      @apply font-medium text-white bg-white/20;
    }
  }
  &.link:hover {
    @apply text-white bg-white/30;
  }
}
.navMobile {
  @apply font-mono font-medium block px-4 py-3 rounded-md text-lg no-underline text-amber-50;

  &.active {
    @apply text-amber-50 bg-white/10;
  }
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  @apply top-0 z-10;
}

/* Breadcrumb */
nav.breadcrumb {
  @apply p-0 m-0;

  ol {
    @apply p-0 m-0 inline-flex items-center space-x-1 md:space-x-3;

    li {
      @apply font-mono text-gray-500;

        a {
          @apply text-blue-600 underline-offset-2;
        }
        a:hover {
          @apply text-blue-700;
        }
    }
  }
}

/* Events Index Page */
section.eventListCard {
  @apply flex flex-col max-sm:space-y-8 md:flex-row md:space-x-12 items-start pb-8 lg:pb-12 mb-8 lg:mb-12 border-b border-slate-300;

  &:nth-last-child(1) {
    @apply border-b-0;
  }
  .eventLeft {
    @apply flex-none sm:w-36 lg:w-60 flex flex-col space-y-8;
  }
  .eventRight {
    @apply flex flex-col space-y-6 md:grow;

    .eventNameDatePrice {
      @apply flex flex-col space-y-4;

      h3 span {
        @apply text-slate-600;
      }
    }

    .eventLikes {
      .eventCount {
        @apply p-2;
      }
      button[type="submit"] {
        @apply text-2xl border-slate-300;
      }
    }
  }
  .eventPrice span {
    @apply p-2 flex-shrink bg-amber-500 text-white text-lg lg:text-xl font-medium tracking-wide;
  }
  .eventDescription p {
    @apply p-0 m-0 font-mono font-normal text-base text-slate-600;
  }
  .eventActions {
    @apply  flex flex-col space-y-2 lg:flex-row lg:space-x-2 lg:space-y-0;

    .register {
      @apply max-sm:hidden;
    }
  }
}

/* Likes And Cats */
.likesAndCats-mobile-only {
  @apply md:hidden;
  
  header {
    @apply font-mono font-medium text-sm uppercase text-slate-500 py-1 mb-4 border-b border-slate-300;
  }

  ul {
    list-style: none;
    @apply p-0;

    li {
      @apply pb-1 font-mono font-medium text-base;

      a {
        @apply text-blue-600 underline-offset-2;
      }
    }
  }
}

.likesAndCats-desktop-only {
  @apply max-sm:hidden;

  header {
    @apply font-mono font-medium text-sm uppercase text-slate-500 py-1 mb-4 border-b border-slate-300;
  }

  ul {
    list-style: none;
    @apply p-0;

    li {
      @apply pb-1 font-mono font-medium text-base;

      a {
        @apply text-blue-600 underline-offset-2;
      }
      a:hover {
        @apply text-blue-800;
      }
    }
  }
}

.actions-mobile-only {
  @apply md:hidden flex flex-col space-y-2;
}

.eventRegisterAndLike-mobile-only {
  @apply absolute px-4 py-6 bg-blue-600 sticky left-0 bottom-0 w-full z-30 flex flex-row space-x-4 justify-center items-center md:hidden;

  .likeAndCounter {
    @apply flex flex-row space-x-0 items-center;

    .like {
      @apply font-mono text-xl px-2 py-2 rounded-full w-10 text-center;
    }
    .counter {
      @apply font-mono text-lg text-amber-50;
    }
  }
}

/* Footer */
footer {
  @apply py-10 bg-blue-950 flex flex-col gap-2 items-center;

  p {
    @apply text-sm font-mono font-medium text-amber-50;

    a {
      @apply text-blue-400 no-underline hover:text-blue-200 hover:underline underline-offset-2;
    }
  }
}