<h1>Editing <%= @category.name%> Category</h1>

<%= render "form", category: @category %>

<%= link_to "Cancel", categories_path, class: "btn btn-outline-primary", style: "width: 100%; max-width: 503px; margin-top: 8px" %>